* {
  max-height: 89vh;
}

section {
  width: 100%;
  height: 100vh;
  padding-top: -250px;
  color: #fff;
  background: linear-gradient(-75deg, #ffffff, #cacaca, #a0a0a0, #6d6d6d);
  background-size: 400% 400%;
  position: absolute;
  animation: change 10s ease-in-out infinite;
}
.ourCarousel{
  margin-top: -50px;
}
.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.carousel-item {
  left: 150px;
  display: flex;
  flex-direction: row;
  max-width: 75%;
  padding-top: -25px;
  margin-top: -25px;
}

.carousel-caption {
  font-family: patua;
  font-size: 35px;
  color: rgb(255, 255, 255) !important;
  line-height: 1.6;
}

.carousel-caption h4 {
  padding: 20px !important;
  position: static !important;
  font-size: 45px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  line-height: 1.2;
}

img {
  height: 100%;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  padding-bottom: 50px;
  padding-right: 150px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 60px;
  color:rgb(21, 255, 0);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 60px;
  color: rgb(21, 255, 0);
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 75% 50%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
