.w-80
{
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: honeydew;
  border-style: solid;
  border-color: lightgreen;
}

.btn:hover {
  color: rgb(32, 200, 102);
}

.btnEdit{
  color:green;
  background-color: white;
}
.btnEdit:hover{
  color:white;
  background-color: green;
}

.btnReset{
  color:rgb(216, 195, 8);
  background-color: white;
}

.btnReset:hover{
  color:gray;
  background-color: rgb(250, 228, 35);
}

 .btnCancel{
  color:red;
  background-color: white;
 }

 .btnCancel:hover{
  color:white;
  background-color: red;
 }

 .addQuestion{
   color:green;
   background-color: white;
 }

 .addQuestion:hover{
  color:white;
  background-color: green;
}

.addChoice{
  color:white;
  background-color: green;
}

.scroll-animations {
  display: flex;
}

.scroll-animations div {
  flex-grow: 1;
  padding: 30px;
  text-align: center;
  opacity: 0;
  color: #333;
}
body, html {
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 23px;
	line-height: 42px;
	font-weight: 100;
	text-align:center;
	height: 100%;
}
section {

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}


.trash {
	background:#020000;
	width: 30px;
	height: 35px;
	display: inline-block;
	margin:0 auto;

	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.trash span {
	position: absolute;
  height: 8px;
  width: 40px;
	background: #020000;
	top: -11px;
	left: -5px;
	right: -8px;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
  transform-origin: 19% 100%;
}

.trash i {
	position:relative;
	width: 3px;
	height:20px;
	background:#fff;
	display:block;
	margin:10px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 3px;
	height: 20px;
	background: #fff;
	position: absolute;
	left: -10px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 3px;
	height: 20px;
	background: #fff;
	position: absolute;
	right: -10px;
	border-radius: 5px;
}

.trash:hover span {
	transform: rotate(-45deg);
  transition: transform 250ms;
  background-color: rgb(172, 13, 13);
}

.trash:hover{
  transition: transform 250ms;
  background-color: rgb(172, 13, 13);
}

.editBtn:hover {
  color: rgb(63, 63, 63);
  background-color: rgb(248, 206, 18, 0.609);
}

.viewBtn:hover {
  color: rgb(63, 63, 63);
  background-color: rgba(175, 82, 175, 0.609);
}

.activationBtn:hover{
  color: rgb(63, 63, 63);
  background-color: rgb(32, 172, 62, 0.609);
}
