/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section
 {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-50deg, #EE7748, #E77C72, #23A6D3, #23D5AB);
  background-size: 400% 400%;
}*/
