.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.error
{
  color: red;
}

.container {
  font-family: patua;
  font-size: 20px;
  font-weight: 2;
}

.btn:hover {
  color: rgb(32, 200, 102);
}

.w-100 {
  background-color: rgba(255, 255, 255, 0) !important;
}

.w-100 {
  outline: none;
  border: 2px solid black;
  resize: none;
  transition: 0.3s;
}

.w-100 textarea:focus {
  border: 2px solid;
  border-color: #30cc8b;
}

.btn {
  color: #333;
  background-color: rgb(32, 200, 102);
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

.btn:hover {
  color: rgb(32, 200, 102);
  background-color: #333;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

#example-radio-group-label {
  color: green;
}
