#fun {
  top: 50px;
}

.max-size{
  height: 100px;
  width: 500px;
  background-color: powderblue;
  top: 250px;
}

.full
{
  height: 100%;
}

.vertical-align
{
  display: inline-block;
  vertical-align: middle;
}

.form-group {
  font-size: 36px !important;
}
