<section>
<div class="container">
  <div class="form-group">
    <a class="btn btn-lg btn-outline-dark" routerLink="/surveys/create"> Create </a>
  </div>
  <div form *ngFor="let survey of surveyCollection; let i= index">
    <div class="form-group">
      <mat-accordion>
        <mat-expansion-panel [expanded]="i == 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h1>{{survey.surveyTitle}}</h1>
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{survey.surveyDescription}}</p>
          <mat-action-row>
            <div class="vertical-align">
              <input class="full" type="date" [disabled]="isActivated[i]" [value]="toInputDate(survey.dateActiveStart)" #dateStart>
              <input class="full" type="date" [disabled]="isActivated[i]" [value]="toInputDate(survey.dateActiveEnd)" #dateEnd>

            <button class=activationBtn mat-stroked-button color="basic" (click)="onActivate(survey, i, dateStart.value, dateEnd.value)">{{buttonName[i]}}</button>
            <button class=viewBtn mat-stroked-button color="primary" (click)="onView(survey._id)">View</button>
            <button class=editBtn mat-stroked-button color="accent" [hidden]="isActivated[i]" (click)="onEdit(survey._id)">Edit</button>
            <button mat-stroked-button color="warn" [hidden]="isActivated[i]" (click)="onDeleteSurvey(survey._id)"><span class="trash"><span></span><i></i></span></button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
</section>
