<!-- Content of Home -->
<main class="containerHome">
    <div class="Middle">
        <h1 class="cover-heading">UrWay Surveys</h1>
        <p class="lead">Let us help you create one simple but pratical survey for your friends</p>
        <p class="lead">
        <a href="/surveys" class="btn btn-lg btn-outline-dark">Create Survey</a>
        </p>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <div>

          </div>
        </div>
      </div>
    </div>
</main>
