/* Background code*/
* {
  max-height: 89vh;
}

section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-50deg, #5c5858, #1d992e, #47bd64, #18da8f);
  background-size: 400% 400%;
  position: absolute;
  animation: change 10s ease-in-out infinite;
}

.btn {
  padding-left: 3px;
  padding-right: 3px;
}

.btn:hover {
  color: rgb(32, 200, 102);
}

.Middle {
  font-family: patua;
  font-weight: 2;
}

.Middle h1 {
  font-size:45px;
}

.Middle p {
  font-size: 30px;
}

.thead-dark {
  font-family: patua;
  font-size: 35px;
}

td {
  font-family: patua;
  font-size: 20px;
  font-weight: 2;
  background-color: rgba(255, 255, 255, 0.2);
}

td button {
  font-family: patua;
  font-size: 18px;
  font-weight: 1;
}

.Middle b:hover {
  color: rgb(2, 36, 16) !important;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 75% 50%;
  }

  75% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
