<!-- Content of Home -->
<section>
<main class="containerHome">
    <div class="Middle">
        <h1 class="cover-heading"><b>U</b><b>R</b><b>W</b><b>A</b><b>Y</b> Surveys</h1>
        <p class="lead">&nbsp;&nbsp;&nbsp;Let us help you create a simple and practical survey&nbsp;&nbsp;&nbsp;</p>
        <p class="lead">
        <a routerLink="/surveys" class="btn btn-lg btn-outline-dark">Create Survey</a>

        </p>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12">

            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Survey Title</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody *ngFor="let activeSurvey of activeSurveys">
                    <tr>
                        <td>{{activeSurvey.surveyTitle}}</td>
                        <td>
                            <button class="btn btn-lg-2x btn-outline-dark" type="button" (click)="onParticipate(activeSurvey._id)"> <i class="fas fa-file-signature"> </i> Participate</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
      </div>
    </div>
</main>
</section>
