<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="column">

        <table>
          <thead aria-colspan="3" class="thead-dark">
            <tr>
              <h4><div class="panel-heading"><b>COMPANY INFORMATION</b></div></h4>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><b>COMPANY :</b></td>
                <td>UrWay</td>
            </tr>

            <tr>
              <td><b>TELEPHONE #:</b></td>
              <td>(437) 555-1439</td>
            </tr>

            <tr>
              <td><b>ADDRESS:</b></td>
              <td>21 Jill Cresent Brampton</td>
            </tr>

            <tr>
              <td><b>EMAIL:</b></td>
              <td>compurway@gmail.com</td>
            </tr>
          </tbody>
        </table>

        <br>
        <h4><b>EMAIL Us</b> </h4>
        <br>

        <div class="focus-area">
        <label><b>First Name: </b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="txtFirstName" size="25" tabindex="1" type="text" required>

        <br><br>

        <label><b>Last Name: </b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="txtlastName" id = "grade" size="25" tabindex="2" type="text">

        <br><br>

        <label><b>Telephone #: </b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="txttelephone" id = "num" size="25" tabindex="3" type="text">

        <br><br>

        <label><b>Email: </b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="email" size="25" tabindex="4" type="email" required>

        <br><br>

        <label><b>Message:</b></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <textarea cols="50" name="TextArea1" rows="7" style="height: 76px;width:42%"></textarea>
    </div>
        <br><br>

        <a routerLink="/home" class="btn btn-lg btn-outline-dark" id="regist" value="Send Email">Send Email</a>
      </div>

      <div class="column">
        <h4><b>CONTACT THE TEAM</b></h4>
          <br>

          <b>Aiturgan Suiunbai kyzy</b>&nbsp;
          <a href="https://www.linkedin.com/in/aiturgan-suiunbai-kyzy-110a491b7/">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a> &nbsp;
          <a href="https://github.com/AiturganSu"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Generalist Programmer<br> Email:&nbsp;A.Kyzy@centennialcollege.ca
          <br> Telephone:&nbsp;225-543-1234
          <br>
          <br>

          <b>Dirk Brandon Lapitan</b>&nbsp;
          <a href="https://www.linkedin.com/in/dirk-brandon-lapitan-79ab69193">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a>&nbsp;
          <a href="https://github.com/dbslapitan"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Project Manager<br> Email:&nbsp;D.Lapitan@centennialcollege.ca
          <br> Telephone:&nbsp;225-543-1234
          <br>
          <br>

          <b>Manu Eldo</b>&nbsp;
          <a href="https://www.linkedin.com/in/manu-eldo-388baa1bb/">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a>&nbsp;
          <a href="https://github.com/manueldo84"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Generalist Programmer<br> Email:&nbsp;M.Eldo@centennialcollege.ca
          <br> Telephone:&nbsp;725-234-1234
          <br>
          <br>

          <b>Noushig Chitjian</b>&nbsp;
          <a href="http://www.linkedin.com/in/noushig-chitjian">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a>&nbsp;
          <a href="https://github.com/noushigchitjian"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Generalist Programmer<br> Email:&nbsp;N.Chitjian@centennialcollege.ca
          <br> Telephone:&nbsp;725-234-1234
          <br>
          <br>

          <b>Richard Elridge</b>&nbsp;
          <a href="https://www.linkedin.com/in/richard-elridge-7b7932102/">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a>&nbsp;
          <a href="https://github.com/elloquent"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Software Developer<br> Email:&nbsp;R.Elridge@centennialcollege.ca
          <br> Telephone:&nbsp;425-234-1234
          <br>
          <br>

          <b>Thiago Luiz Batista</b> &nbsp;
          <a href="https://www.linkedin.com/in/thiago-luiz-batista-220027a1/?locale=en_US">
          <i id="zoom" class="fab fa-linkedin" style="color: #339af0;"></i></a>&nbsp;
          <a href="https://github.com/psychoCS"><i id="zoom" class="fab fa-github" style="color: gray;"></i></a>
          <br> Web Designer<br> Email:&nbsp;T.Batista@centennialcollege.ca
          <br> Telephone:&nbsp;555-234-1234
      </div>

    </div>
</div>
</div>
