<div class="container">
    <div class="jumbotron">
  <div class="row">
    <div class="column" >
        <table>
            <thead aria-colspan="3" class="thead-dark">
                <tr>
      <h5><div class="panel-heading">Company Information</div></h5>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>COMPANY :</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urway</td>

    </tr>
    <tr>
         <td>TELEPHONE #:</td>

         <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(437) 555-1439</td>
    </tr>
    <tr>
        <td>ADDRESS:</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21 Jill Cresent Brampton</td>
        </tr>
        <tr>
            <td>
         EMAIL:</td>

        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;compurway@gmail.com</td>
    </tr>
    </tbody>
    </table>
      <br>
      <br>
      <h5> EMAIL Us</h5>
      <br>



      <label>First Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtFirstName" size="25" tabindex="1" type="text"><br><br>
      <label>Last Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txtlastName" id = "grade" size="25" tabindex="2" type="text"><br><br>
      <label>Telephone #:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="txttelephone" id = "num" size="25" tabindex="3" type="text"><br><br>
      <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="email" size="25" tabindex="4" type="email"><br><br>
      <label>Message:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea cols="50" name="TextArea1" rows="7" style="height: 76px;width:42%"></textarea><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/home"><input type="button" id="regist" value="Send Email" onclick=""size="20"><input></a>


    </div>
    &nbsp;
     <div class="column">
                        <h4>CONTACT THE TEAM</h4>
                        <br>

                        <b>Aiturgan Suiunbai kyzy</b>&nbsp;
                        <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_top_card%3BJoiaQU%2BCS4Or2v%2B%2FLooMSw%3D%3D"> <i class="fab fa-linkedin" style="color: gray;"></i></a> &nbsp;
                        <a href="https://github.com/AiturganSu"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Generalist Programmer<br> Email:&nbsp;A.Kyzy@centennialcollege.ca
                        <br> Telephone:&nbsp;225-543-1234
                        <br>
                        <br>

                        <b>Dirk Brandon Lapitan</b>&nbsp;
                        <a href="https://www.linkedin.com/in/dirk-brandon-lapitan-79ab69193"><i class="fab fa-linkedin" style="color: gray;"></i></a>&nbsp;
                        <a href="https://github.com/dbslapitan"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Project Manager<br> Email:&nbsp;D.Lapitan@centennialcollege.ca
                        <br> Telephone:&nbsp;225-543-1234
                        <br>
                        <br>

                        <b>Manu Eldo</b>&nbsp;
                        <a href="https://www.linkedin.com/in/manu-eldo-388baa1bb/"><i class="fab fa-linkedin" style="color: gray;"></i></a>&nbsp;
                        <a href="https://github.com/manueldo84"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Generalist Programmer<br> Email:&nbsp;M.Eldo@centennialcollege.ca
                        <br> Telephone:&nbsp;725-234-1234
                        <br>
                        <br>

                        <b>Noushig Chitjian</b>&nbsp;
                        <a href="http://www.linkedin.com/in/noushig-chitjian"><i class="fab fa-linkedin" style="color: gray;"></i></a>&nbsp;
                        <a href="https://github.com/noushigchitjian"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Generalist Programmer<br> Email:&nbsp;N.Chitjian@centennialcollege.ca
                        <br> Telephone:&nbsp;725-234-1234
                        <br>
                        <br>

                        <b>Richard Elridge</b>&nbsp;
                        <a href="https://www.linkedin.com/in/richard-elridge-7b7932102/"><i class="fab fa-linkedin" style="color: gray;"></i></a>&nbsp;
                        <a href="https://github.com/elloquent"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Software Developer<br> Email:&nbsp;R.Elridge@centennialcollege.ca
                        <br> Telephone:&nbsp;425-234-1234
                        <br>
                        <br>

                        <b>Thiago Luiz Batista</b> &nbsp;
                        <a href="https://www.linkedin.com/in/thiago-luiz-batista-220027a1/?locale=en_US"><i class="fab fa-linkedin" style="color: gray;"></i></a>&nbsp;
                        <a href="https://github.com/psychoCS"><i class="fab fa-github" style="color: gray;"></i></a>
                        <br> Web Designer<br> Email:&nbsp;T.Batista@centennialcollege.ca
                        <br> Telephone:&nbsp;555-234-1234
                        <br>
                        <br>
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
