.container {
  margin: auto;
  max-height: 560px;
}

.jumbotron {
  background-color: rgba(148, 101, 101, 0) !important;
  margin: auto;
  padding-left: 200px;
  padding-right: auto;
  z-index: 5;
}

#zoom {
  transition: transform .12s;
}

#zoom:hover {
  transform: scale(1.5);
}
