/* custom css goes here */

.navbar-brand a {
    font-size: 20px;
}

.navbar-brand img {
    width: 120px;
    height: 80px;
    margin-left: 100px;
}

.nav-item {
    justify-content: space-between;
    align-items: center;
    letter-spacing: 5px;
    font-size: 20px;
    margin-right: 50px;
}